n8n_workshop_flow.json
{
  "name": "Lúa Hóa Registration Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "landing-page-lua-hoa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e9fa67d5-d0ff-4e78-9fe8-8b981f21db5d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Đăng ký thành công!\"\n}"
      },
      "id": "18f97204-7c93-4a1d-a3df-7b560ab92ef3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "HÃY_ĐIỀN_GOOGLE_SHEETS_ID_CỦA_BẠN",
        "range": "Trang tính1!A:E",
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Họ và Tên",
              "value": "={{ $node[\"Webhook\"].json[\"name\"] }}"
            },
            {
              "column": "Số điện thoại / Zalo",
              "value": "={{ $node[\"Webhook\"].json[\"phone\"] }}"
            },
            {
              "column": "Email",
              "value": "={{ $node[\"Webhook\"].json[\"email\"] }}"
            },
            {
              "column": "Ngày sinh",
              "value": "={{ $node[\"Webhook\"].json[\"dob\"] }}"
            },
            {
              "column": "Ngày đăng ký",
              "value": "={{ $now.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3afab1bc-1249-417c-a49e-b152cd0db67d",
      "name": "Google Sheets: Ghi Danh Sách",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "email": "email_admin_cua_ban@example.com",
        "subject": "=[Lúa Hóa] Học viên mới đăng ký: {{ $node[\"Webhook\"].json[\"name\"] }}",
        "bodyType": "html",
        "html": "<h3>Học viên mới đăng ký Workshop Lúa Hóa</h3>\n<p><strong>Họ và tên:</strong> {{ $node[\"Webhook\"].json[\"name\"] }}</p>\n<p><strong>Số điện thoại / Zalo:</strong> {{ $node[\"Webhook\"].json[\"phone\"] }}</p>\n<p><strong>Email:</strong> {{ $node[\"Webhook\"].json[\"email\"] }}</p>\n<p><strong>Ngày sinh:</strong> {{ $node[\"Webhook\"].json[\"dob\"] }}</p>\n<p><strong>Thời gian đăng ký:</strong> {{ $now.toString() }}</p>",
        "options": {}
      },
      "id": "fa2fb61b-9ca3-4d69-a292-1a418deff93a",
      "name": "Gmail: Thông Báo Admin",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "email": "={{ $node[\"Webhook\"].json[\"email\"] }}",
        "subject": "[Lúa Hóa] Xác nhận đăng ký Workshop & Tặng Báo cáo Trái phiếu - Cổ phiếu",
        "bodyType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #102A43; max-width: 600px; margin: 0 auto; border: 1px solid #bdcabf; padding: 20px; border-radius: 4px;\">\n  <div style=\"text-align: center; border-bottom: 2px solid #1F8A5B; padding-bottom: 15px;\">\n    <h2 style=\"color: #1F8A5B; margin: 0;\">LÚA HÓA WORKSHOP</h2>\n  </div>\n  <p>Chào <strong>{{ $node[\"Webhook\"].json[\"name\"] }}</strong>,</p>\n  <p>Chúc mừng bạn đã đăng ký tham gia thành công Workshop chuyên sâu:</p>\n  <h3 style=\"color: #2060a3; margin: 10px 0;\">QUY HOẠCH & VĨ MÔ: “MỎ VÀNG” DÒNG TIỀN HAY CHIẾC BẪY KỲ VỌNG?</h3>\n  \n  <div style=\"background-color: #f8f9ff; padding: 15px; border-radius: 4px; border-left: 4px solid #D6A84F; margin: 20px 0;\">\n    <p style=\"margin: 5px 0;\"><strong>📅 Ngày diễn ra:</strong> 29/05/2026</p>\n    <p style=\"margin: 5px 0;\"><strong>⏰ Giờ bắt đầu:</strong> 20h00 (Google Meet)</p>\n    <p style=\"margin: 5px 0;\"><strong>🖥️ Hình thức:</strong> Online qua phòng học Google Meet</p>\n  </div>\n  \n  <p>Món quà đăng ký sớm dành riêng cho bạn:</p>\n  <div style=\"text-align: center; margin: 25px 0;\">\n    <a href=\"https://your-gift-download-link.com/report.pdf\" style=\"background-color: #1F8A5B; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: bold; display: inline-block;\">Nhận Báo Cáo Miễn Phí Tại Đây</a>\n    <p style=\"font-size: 12px; color: #6e7a71; margin-top: 5px;\">(Báo cáo toàn cảnh dữ liệu Trái phiếu & Cổ phiếu mới nhất)</p>\n  </div>\n  \n  <p>Chúng tôi sẽ gửi email nhắc hẹn kèm đường dẫn vào phòng học Google Meet cho bạn trước 24 giờ diễn ra buổi học.</p>\n  <p>Hẹn gặp bạn tại buổi chia sẻ!</p>\n  <hr style=\"border: 0; border-top: 1px solid #bdcabf; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #6e7a71; text-align: center;\">© 2026 Lúa Hóa. All rights reserved.</p>\n</div>",
        "options": {}
      },
      "id": "e2ba8c22-26f6-419b-a010-097c36aef484",
      "name": "Gmail: Gửi Khách Hàng (Tức Thì)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "resumeType": "date",
        "resumeAt": "2026-05-28T20:00:00.000Z",
        "options": {}
      },
      "id": "df983be6-cd77-4c4f-a764-a3ba17fde93a",
      "name": "Chờ Đến Trước 1 Ngày",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "email": "={{ $node[\"Webhook\"].json[\"email\"] }}",
        "subject": "[Lúa Hóa] Nhắc hẹn: 24h nữa diễn ra Workshop Quy Hoạch & Vĩ Mô",
        "bodyType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #102A43; max-width: 600px; margin: 0 auto; border: 1px solid #bdcabf; padding: 20px; border-radius: 4px;\">\n  <div style=\"text-align: center; border-bottom: 2px solid #1F8A5B; padding-bottom: 15px;\">\n    <h2 style=\"color: #1F8A5B; margin: 0;\">NHẮC HẸN WORKSHOP</h2>\n  </div>\n  <p>Chào <strong>{{ $node[\"Webhook\"].json[\"name\"] }}</strong>,</p>\n  <p>Chỉ còn đúng 24h nữa, buổi chia sẻ đặc biệt về vĩ mô và dòng tiền bất động sản/chứng khoán của Lúa Hóa sẽ chính thức bắt đầu.</p>\n  \n  <div style=\"background-color: #f8f9ff; padding: 15px; border-radius: 4px; border-left: 4px solid #1F8A5B; margin: 20px 0;\">\n    <p style=\"margin: 5px 0;\"><strong>📚 Tên bài giảng:</strong> Quy Hoạch & Vĩ Mô: “MỎ VÀNG” DÒNG TIỀN HAY CHIẾC BẪY KỲ VỌNG?</p>\n    <p style=\"margin: 5px 0;\"><strong>⏰ Thời gian:</strong> 20h00, Ngày mai (29/05/2026)</p>\n    <p style=\"margin: 5px 0;\"><strong>🖥️ Phòng học Google Meet:</strong> <a href=\"https://meet.google.com/abc-defg-hij\">https://meet.google.com/abc-defg-hij</a></p>\n  </div>\n  \n  <p><strong>Lưu ý quan trọng:</strong></p>\n  <ul>\n    <li>Hãy vào sớm 5-10 phút để kiểm tra kết nối mạng và âm thanh.</li>\n    <li>Chuẩn bị sẵn sổ tay hoặc ứng dụng ghi chú để lưu lại thông tin đắt giá.</li>\n    <li>Buổi chia sẻ sẽ bóc tách các số liệu thực tế về quy hoạch mới và dòng chảy vĩ mô 2026.</li>\n  </ul>\n  \n  <div style=\"text-align: center; margin: 25px 0;\">\n    <a href=\"https://meet.google.com/abc-defg-hij\" style=\"background-color: #2060a3; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: bold; display: inline-block;\">Đăng Nhập Phòng Học Ngay</a>\n  </div>\n  \n  <p>Hẹn gặp bạn tối mai!</p>\n  <hr style=\"border: 0; border-top: 1px solid #bdcabf; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #6e7a71; text-align: center;\">© 2026 Lúa Hóa. All rights reserved.</p>\n</div>",
        "options": {}
      },
      "id": "bc1ab73f-c30f-48d0-9993-27fe92e9bf43",
      "name": "Gmail: Nhắc Hẹn 24h",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1300,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets: Ghi Danh Sách",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Ghi Danh Sách": {
      "main": [
        [
          {
            "node": "Gmail: Thông Báo Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Thông Báo Admin": {
      "main": [
        [
          {
            "node": "Gmail: Gửi Khách Hàng (Tức Thì)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Gửi Khách Hàng (Tức Thì)": {
      "main": [
        [
          {
            "node": "Chờ Đến Trước 1 Ngày",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chờ Đến Trước 1 Ngày": {
      "main": [
        [
          {
            "node": "Gmail: Nhắc Hẹn 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "templateId": ""
  }
}